.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.Header-link {
  display: inline-block;
}

.Home {
  display: flex;
  flex-wrap: wrap;
}

.CreateBoard {
  width: 350px;
  color: white;
  -webkit-text-stroke: 0.5px green;
  background-color: lightgreen;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;
}

.CreateBoard-button {
  cursor: pointer;
  padding: 20px 40px;
  font-size: 20px;
}

.CreateBoard-form {
  padding: 30px 20px 40px 20px;
  border-top: thin solid white;
}

.CreateBoard-input {
  margin: 10px;
  padding: 10px;
}

.Board {
  width: 350px;
  color: black;
  background-color: white;
  border: solid 1px black;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 20px;
  word-break: break-all;
}

.Board-link {
  display: inline-block;
  margin: 10px 20px 10px 20px;
}